Package: zysh
Version: 8.0.0-r9-stable-release
Section: utils
Architecture: all
Replaces: zyshell
Breaks: zyshell
Conflicts: zyshell
Maintainer: Mark Jason P. Espelita
Description: Zyphor OS Default Shell
