Package: zyphor-bashrc-config
Version: 2.0.0-r2-alpha
Section: shells
Priority: optional
Architecture: all
Depends: git
Maintainer: Mark Jason Espelita <markjasonespelita@gmail.com>
Description: Zyphor OS Bash configuration
 Provides the default Zyphor OS Bash prompt and shell startup information.
 