Package: zyphor-os-release
Version: 3.0.1-r9-alpha
Section: base
Priority: required
Architecture: all
Maintainer: Mark Jason Espelita <markjasonespelita@gmail.com>
Description: Zyphor OS release information
 Provides operating system identification and release metadata
 for Zyphor OS.
